* {
    padding: 5px;
}


/*ALIGNMENT*/

.column{
    flex-direction: column;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    background-color: #ff0;
}

.buttonSpace{
    background-color: lightskyblue;
    padding: 40px;
}

.my_button{
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}
