
.altro_box{
    padding: 20px;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightsteelblue;
}

.red{
    background-color: red;
}


.green{
    background-color: green;
}

.blue{
    background-color: blue;
}